body {
    direction: rtl;
    text-align: center;
    align-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

nav ul {
    display: block;
    width: 100%;
    margin: auto;
    background-color: gray;
    height: 106px;
    color: white;
}

nav ul li {
    padding: 0;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    display: inline;
    width: 910px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 0px;
    display:inline-block;
    line-height: 140px;
    font-weight: bold;
}

#main {
    width: 910px;
    margin: auto;
}

#topsection {
    padding: 0px;
    position: relative;
}

.article1 {
    width: 250px;
    height: 110px;
    position: absolute;
    right: 5px;
    bottom: 8px;
    background-color: gray;
    margin: 5px;
    opacity: 0.85;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    text-align: right;
    padding: 10px;
}

#bottomsection div {
    padding: 0px;
    position: relative;
}

#topsection:after {
  content: "";
  display: table;
  clear: both;
}

#top, #bottom {
    float: right;
    padding: 6px;
    position: relative;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer ul {
    display: block;
    margin: auto;
    background-color: gray;
    height: 30px;
    color: white;

}

footer ul li {
    padding: 0;
    margin: 0px;
    list-style-type: none;
    text-decoration: none;
    display: inline;
    width: 910px;
}

footer ul li a {
    text-decoration: none;
    color: white;
    margin: 10px;
    padding: 0px;
    display:inline-block;
    line-height: 5px;
}